@font-face {
  font-family: "Jetbrains";
  src: url("../assets/jb/JetBrainsMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jetbrains";
  src: url("../assets/jb/JetBrainsMono-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Jetbrains";
  src: url("../assets/jb/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Jetbrains";
  src: url("../assets/jb/JetBrainsMono-Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "ms98";
  src: url("../assets/ms/ms98.ttf") format("truetype");
}
.lemon {
  color: #ffcb30;
}

* {
  font-family: "Jetbrains";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scrollbar-width: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  color: #fcab97;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  background: #454252;
  color: #d6e6dd;
}

.head {
  list-style: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
}
.head li .logo {
  transition: 0.5s ease-in-out;
  transform: translateY(-0.4rem);
}
.head li .logo:hover {
  transform: translateY(-0.2rem);
}
.head .dir {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: auto;
  transform: translateY(-0.5rem);
}
.head .dir #glitch {
  font-size: 2rem;
}
.head .dir #cli {
  font-size: 1rem;
}
.head .nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3rem;
}
.head .nav-item a i {
  font-size: 1.75rem;
  align-items: center;
  color: #9db3b2;
  transform: translateY(0.2rem);
  transition: 250ms;
}
.head .nav-item a i:hover {
  transform: translateY(0);
}
.head .nav-item a i:hover + .tooltip {
  opacity: 1;
  transform: translateY(0);
}
.head .nav-item a .tooltip {
  opacity: 0;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: bold;
  color: #ffffe0;
  padding: 0.2em 0.5em;
  margin-top: 0.4rem;
  transform: translateY(-0.5rem);
  transition: 250ms ease-in-out;
}

.header h1 {
  font-size: 6rem;
}
.header p {
  color: #859499;
}

.egg {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.egg .pipe {
  z-index: 1;
}
.egg .shell {
  transform: translateY(144px);
}

.foot {
  list-style: none;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  width: 100vw;
}
.foot .toe {
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: #6e7680;
  transition: 200ms;
}
.foot .toe:hover {
  color: #ffffe0;
}

@keyframes smash {
  0%, 100% {
    transform: translateY(144px);
  }
  40%, 60% {
    transform: translateY(66px);
  }
}

/*# sourceMappingURL=style.css.map */
