{{define "about"}}
<!DOCTYPE html>
<html lang="en">

{{template "_head"}}

<body>
	{{template "_bar"}}
	<div class="title">
		<h1>Hello there</h1>
		<h1>I'm Joost</h1>
		<p>I have written "Hello World!" in 18 languages</p>
	</div>
	{{template "_foo"}}
</body>

</html>
{{end}}