{{define "contact"}}
<!DOCTYPE html>
<html lang="en">

{{template "_head" .}}

<body>
	{{template "_bar" .}}
	<img class="cursor" src="backdoor/img/cur1.png" width="24" height="24">
	
	<div class="title">
		<h1>How to contact me...</h1>
		<p>I have no idea either</p>
	</div>
	{{template "_foo" .}}
</body>

</html>
{{end}}