{{define "home"}}
<!DOCTYPE html>
<html lang="en">

{{template "_head" .}}

<body>
	{{template "_bar" .}}
	<div class="header">
		<h1>Hi, <br> I'm <b>J</b>oost</h1>
		<p>I have written "Hello World!" in 18 languages</p>
	</div>
	{{template "_foo" .}}
</body>

</html>
{{end}}