{{define "home"}}
<!DOCTYPE html>
<html lang="en">

{{template "_head"}}

<body>
	{{template "_bar"}}
	<div class="header">
		<h1>Hi, <br> I'm Joost</h1>
		<p>I have written "Hello World!" in 18 languages</p>
	</div>
	<div class="egg">
		<img class="shell" src="backdoor/img/b1.png" width="128" height="128">
		<img class="pipe" src="backdoor/img/pipe.png" width="128" height="128">
	</div>
	{{template "_foo"}}
</body>

</html>
{{end}}