@font-face {
  font-family: "Jetbrains";
  src: url("../fonts/jb/JetBrainsMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jetbrains";
  src: url("../fonts/jb/JetBrainsMono-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Jetbrains";
  src: url("../fonts/jb/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Jetbrains";
  src: url("../fonts/jb/JetBrainsMono-Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "dia";
  src: url("../fonts/ad/Adobe Dia.ttf") format("truetype");
}
* {
  font-family: "Jetbrains";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.cursor {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  opacity: 0;
}

@media (pointer: none), (pointer: coarse) {
  .cursor {
    display: none !important;
    visibility: hidden;
    opacity: 0;
  }
  * {
    cursor: auto !important;
  }
}
@keyframes glitch {
  0% {
    text-shadow: 0.4389924193px 0 1px rgba(94, 184, 217, 0.6705882353), -0.4389924193px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974011px 0 1px rgba(94, 184, 217, 0.6705882353), -2.7928974011px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  10% {
    text-shadow: 0.0295627584px 0 1px rgba(94, 184, 217, 0.6705882353), -0.0295627584px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  15% {
    text-shadow: 0.4021853855px 0 1px rgba(94, 184, 217, 0.6705882353), -0.4021853855px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  20% {
    text-shadow: 3.47940379px 0 1px rgba(94, 184, 217, 0.6705882353), -3.47940379px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401px 0 1px rgba(94, 184, 217, 0.6705882353), -1.6125630401px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085px 0 1px rgba(94, 184, 217, 0.6705882353), -0.7015590085px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  35% {
    text-shadow: 3.8969140477px 0 1px rgba(94, 184, 217, 0.6705882353), -3.8969140477px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  40% {
    text-shadow: 3.8709056148px 0 1px rgba(94, 184, 217, 0.6705882353), -3.8709056148px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  45% {
    text-shadow: 2.2310569634px 0 1px rgba(94, 184, 217, 0.6705882353), -2.2310569634px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  50% {
    text-shadow: 0.0808429042px 0 1px rgba(94, 184, 217, 0.6705882353), -0.0808429042px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067px 0 1px rgba(94, 184, 217, 0.6705882353), -2.3758461067px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  60% {
    text-shadow: 2.2021930511px 0 1px rgba(94, 184, 217, 0.6705882353), -2.2021930511px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780615px 0 1px rgba(94, 184, 217, 0.6705882353), -2.8638780615px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  70% {
    text-shadow: 0.4887402516px 0 1px rgba(94, 184, 217, 0.6705882353), -0.4887402516px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491306px 0 1px rgba(94, 184, 217, 0.6705882353), -1.8948491306px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308px 0 1px rgba(94, 184, 217, 0.6705882353), -0.0833037308px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  85% {
    text-shadow: 0.0976982726px 0 1px rgba(94, 184, 217, 0.6705882353), -0.0976982726px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  90% {
    text-shadow: 3.4433397615px 0 1px rgba(94, 184, 217, 0.6705882353), -3.4433397615px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838853px 0 1px rgba(94, 184, 217, 0.6705882353), -2.1841838853px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764474px 0 1px rgba(94, 184, 217, 0.6705882353), -2.6208764474px 0 1px rgba(252, 171, 151, 0.6705882353), 0 0 3px;
  }
}
#glitch {
  animation: glitch 1.6s infinite;
}

* {
  font-family: "dia";
}

body {
  background: #3c6ca6;
  color: #ffffe0;
}

.fa-ghost {
  position: absolute;
  top: 90%;
  left: 90%;
  font-size: 4rem;
  color: #eb7c93;
  z-index: 999;
  opacity: 0;
}
.fa-ghost:hover {
  transition-delay: 100ms;
  opacity: 0.5;
}

.text {
  position: relative;
  margin-bottom: 8%;
}
.text h1 {
  font-size: 10rem;
}
.text h2 {
  font-size: 6rem;
}
.text p {
  font-size: 1.5rem;
}

.bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom .button {
  margin-bottom: 0.5rem;
}
.bottom .counter {
  color: #d6e6dd;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=notfound.css.map */
