<ul class="foot">
	<li class="toe">
		<a href="https://www.youtube.com/channel/UCw_58AE2csvdU7kXLE1P7IA">
			<i class="fa-brands fa-youtube"></i>
		</a>
	</li>
	<li class="toe">
		<a href="https://github.com/llamaWol">
			<i class="fa-brands fa-github"></i>
		</a>
	</li>
	<li class="toe">
		<i class="fa-brands fa-redhat"></i>
	</li>
	<li class="toe">
		<i class="fa-solid fa-paperclip"></i>
	</li>
	<li class="toe">
		<i class="fa-solid fa-lemon"></i>
	</li>
</ul>
