<ul class="head">
	<li>
		<img class="logo" src="assets/cup.png" width="40" height="40">
	</li>
	<li class="dir">
		<h2 id="glitch">よーすと</h2>
		<h2 id="cli"><b>/</b> &</h2>
	</li>
	<li class="nav-item">
		<a href="https://github.com/llamawol">
			<i class="fa-solid fa-globe"></i>
			<p class="tooltip">Experience</p>
		</a>
	</li>
	<li class="nav-item">
		<a href="https://github.com/llamaWol?tab=repositories">
			<i class="fa-solid fa-diagram-project"></i>
			<p class="tooltip">Projects</p>
		</a>
	</li>
	<li class="nav-item">
		<a href="about.html">
			<i class="fa-solid fa-folder-closed"></i>
			<p class="tooltip">About</p>
		</a>
	</li>
	<li class="nav-item">
		<a href="contact.html">
			<i class="fa-solid fa-envelope"></i>
			<p class="tooltip">Contact</p>
		</a>
	</li>
</ul>
