<!DOCTYPE html>
<html lang="en">

{{> title}}

<body>
	{{> head}}
	<div class="header">
		<h1>Hi, <br> I'm Joost</h1>
		<p>I have written "Hello World!" in 18 languages</p>
	</div>
	<div class="egg">
		<img class="shell" src="assets/b1.png" width="128" height="128">
		<img class="pipe" src="assets/pipe.png" width="128" height="128">
	</div>
	{{> foot}}
</body>

</html>