<head>
	<title>よーすと</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/effects.css" />
	<link rel="stylesheet" href="assets/fa/fontawesome.css" />
	<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
	<script src="backdoor/main.js" defer></script>
</head>
